*{
    padding: 0;
    margin: 0;
}

.main-container{
    background-color: black;
    height: 2000px;
   
    
}


nav{
    display: flex;
    position: absolute;
    padding: 5px;
    height: 5rem;
    align-items: center;
}

.sign-in{
    height: 2rem;
    width: 4.5rem;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: red;
    color: #ffffff;
    font-size: 15px;
    z-index: 50;
    position: absolute;
    left: 74rem;
    
}


img{
    border: none;
    outline: none;
    
}

.logo{
    
    height: 25rem;
    width: 22rem;
    align-items: center;
    margin-bottom: 20px;
    z-index: 50;
    position: absolute;
    left: 4rem;
 
}

.blur{
  
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.703);

}

.heading{
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 16rem;
    top: 20rem;
    font-family: sans-serif;
    line-height: 3.5rem;
    
}

.unlimited{
    z-index: 50;
    font-size: 3rem;
}

.send{
    height: 3.4rem;
    width: 13rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: red;
    color: #ffffff;
    z-index: 50;
    font-size: 1.5rem;
    font-family: sans-serif;

}

.span1{
    z-index: 50;
    font-size: 1.6rem;
}
.span2{
    z-index: 50;
    font-size: 1.4rem;
}

.search{
    display: flex;
    position: absolute;
    left: 23.5rem;
    top: 30rem;
    margin: 5px;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    z-index: 50;

}

input{
    background: none;
    border-radius: 5px;
    height: 3.4rem;
    width: 25rem;
    font-family: sans-serif;
    color: #fff;
    z-index: 50;
    margin-right: 10px;
    border-color: #ffffff;
}

::-webkit-input-placeholder{
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    padding-left: 15px;
}

.hr{
    background-color: #303030;
    width: 100%;
    height: 9px;
    border:  none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 44rem;
    position: absolute;
}

.sec{
        display: flex;
        color: #fff;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        
        
}

.head-sec{
        display: flex;
        flex-direction: column;
        color: #fff;
        position: absolute;
        left: 10rem;
        top: 56rem;
        font-family: sans-serif;
        
        
}

.enjoy{
    
    z-index: 50;
    font-size: 3rem;
    line-height: 5.5rem;
    
}

.span3{
    z-index: 50;
    font-size: 1.6rem;
    
}
.span4{
    z-index: 50;
    font-size: 1.4rem;
}
    
.hr2{
    background-color: #303030;
    width: 100%;
    height: 9px;
    border:  none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 160rem;
    position: absolute;
}